.lead {
  font-family: "Inter", Arial, sans-serif;
  margin: 0 auto; /*Centraliza a seção hori8zontal com as margens automaticas*/
  max-width: 984px;
}

.lead__title {
  max-width: 720px; /*poderia usar 85% para quebrar a linha */
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  margin: 0 auto;
  padding-top: 90px;
}

.lead__subtitle {
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  max-width: 720px;
  padding-top: 32px;
  margin: 0 auto;
}

.lead__image {
  max-width: 100%; /*garante que a imagem nunca seja mais larga que seu container*/
  max-height: 100%; /*garante que a imagem nunca seja mais alta que seu container*/
  object-fit: cover; /*Faz com que a imagem cubra sua área de container mantendo a proporção, não quebra*/
  display: block; /*Muda o tio de exibição para bloco (remove o espaçamento inline padrão
  )*/
  filter: grayscale(100%);
  padding-top: 64px;
}

@media screen and (max-width: 1024px) {
  .lead__title {
    max-width: 530px;
    font-size: 75px;
    line-height: 79px;
  }
  .lead__subtitle {
    padding-top: 25px;
  }
}

@media screen and (max-width: 544px) {
  .lead__title {
    max-width: 228px;
    font-size: 40px;
    line-height: 44px;
    padding-top: 50px;
  }
  .lead__subtitle {
    max-width: 288px;
    font-size: 16px;
    line-height: 20px;
    padding-top: 16px;
  }
}
