.place {
  display: grid;
  grid-template-columns: 460px 1fr;
  grid-template-rows: auto auto 1fr;
  column-gap: 40px;
  row-gap: 48px;
  padding-top: 80px;
  grid-template-areas:
    "place__title place__website"
    "place__image place__texts"
    "place__button place__texts";
  width: 100%;
  object-fit: cover;
}

.place:nth-child(1) {
  padding-top: 0;
}

.place__title {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  grid-area: place__title;
  margin: 0;
}

.place__image {
  box-shadow: 10px 10px 25px 0px #00000080;
  grid-area: place__image;
  width: 100%;
  object-fit: cover;
}

.place__image:hover {
  opacity: 50%;
}

.place__website {
  grid-area: place__website;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.place__website-title {
  font-family: "Inter", Arial, sans-serif;
  color: #aaaaaa;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 12%;
  text-transform: uppercase;
  padding-bottom: 8px;
}

.place__website-artist {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0%;
}

.place__texts {
  grid-area: place__texts;
}

.place__paragraph {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  grid-area: place__paragraph;
}

.place__button {
  width: max-content;
  height: max-content;
  background: linear-gradient(90deg, #0278fe 0%, #003a7b 99.98%);
  box-shadow: 5px 5px 10px 0px #00000040;
  text-decoration: none;
}

.place__button-paragraph {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 600;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
}

.place__button:hover {
  background: linear-gradient(
    90deg,
    rgba(2, 120, 254, 0.25) 0%,
    rgba(0, 58, 123, 0.25) 99.98%
  );
  box-shadow: 5px 5px 10px 0px #00000040;
}

.place__button p {
  font-family: "Inter", Arial, sans-serif;
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
}

@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns: 340px 1fr;
    grid-template-rows: auto 340px auto;
    column-gap: 28px;
    row-gap: 48px;
    padding-top: 72px;
  }

  .place__title {
    font-size: 42px;
    line-height: 46px;
  }

  .place__paragraph {
    font-size: 16px;
  }
}

@media screen and (max-width: 544px) {
  .place {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    row-gap: 30px;
    padding-top: 50px;
    grid-template-areas:
      "place__title"
      "place__website"
      "place__image"
      "place__texts"
      "place__button";
    margin: 0 auto;
  }

  .place__title {
    font-size: 32px;
    line-height: 35px;
    padding: 0 16px;
  }

  .place__website {
    padding: 0 16px;
  }

  .place__paragraph {
    font-size: 16px;
    padding: 0 16px;
  }

  .place__button {
    margin: 0 16px;
    width: auto;
  }

  .place__button p {
    font-size: 14px;
  }
}
